.textdiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ff6060;
}

.cardcontentcolor{
    color: white;
}