.textdiv {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border-color: #ff6060;
  }
  

