.banner{
    height: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.bannerimage{
    object-fit:cover;
    width: 90%;
    display: flex;
    position: relative;
    justify-self: center;
    border-radius: 20px;
}

.title{
    display: flex;
    justify-self: center;
    align-self: center;
    position: absolute;
    color: white;
}