.banner{
    height: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    margin-top: 20px;
}

.bannerimage{
    object-fit:cover;
    width: 92%;
    display: flex;
    position: relative;
    justify-self: center;
    border-radius: 20px;
    filter: brightness(0.8)
}

.title1{
    display: flex;
    justify-self: center;
    align-self: center;
    position: absolute;
    color: white;
    font-size: 3em;
    width: 92%;
    top: 25%;
    left: 25%;
    z-index: 900;
}


@media screen and (max-width: 767px) {
    .banner{
        height: 111px;
        margin-top: 10px;
    }

    .title1{
        font-size: 1.7em;
        padding-left: 5%;
    }
}
