.littlecard{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
}

.bigcard{
    background-color: grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    padding: 20px;
    border-radius: 20px;
}
