.littlecard {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    width: 30%;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  
  .image {
    display: flex;
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  
  .text {
    display: flex;
    position: absolute;
    align-self: flex-start;
    color: white;
    width: 50%;
    margin-left: 1%;
  }
  
  @media screen and (max-width: 767px) {
    .littlecard {
      width: 95%;
    }

    .image{
      //width: 290px;
      height: 190px;
    }
  }
  