.none{
    display:none;
}

.container{
    display: flex;
    flex-direction: column ;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50%;
    gap:0px;
    height: min-content;
    background-color: #e3e3e3;
}

.headcontainer{
    display: flex;
    flex-direction: row;
    background-color: #ff6060;
    justify-content: space-between;
    border-radius:10px;
}

.title{
    color:white;
    padding-left: 10px;
}
.button{
    padding-right: 10px;
}

.transition{
    transition-duration: 0.5s;
}

.up{
    transition-duration: 0.5s;
}

.arrowdown{
    transform: scaleY(-1);
}

.button{
    background-color: #ff6060;
    border: none;
    border-radius: 10px;
}

.text{
    padding: 5px;
    height: stretch;
}