.cover{
    border-radius: 20px;
    max-height: 415px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pîcture{
    display: flex;
    object-fit: cover;
    width: 92%;
    position: relative;
    border-radius: 20%;
}

.minus{
    position: absolute;
    display: flex;
    justify-self: flex-start;
    align-self: center;
    margin-right: 90%;
    border: none;
    background: none;
    border: solid 2px black
}

.plus{
    position: absolute;
    display: flex;
    justify-self: flex-end;
    align-self: center;
    border: none;
    background: none;
    margin-left: 90%;
    border: solid 2px black;
}

.number{
    position: absolute;
    display: flex;
    justify-self: center;
    align-self: flex-end;
    color: white;
}

.arrowright{
    transform: scaleX(-1);
}